// CUSTOM ================================================
.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;

  margin: 4rem 0 0 0;
  border-top: #ebf2f6 1px solid;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
  text-decoration: underline;
  color: #4a4a4a;
}
.PageNavigation a:visited {
  color: #4a4a4a;
}
.PageNavigation a:hover {
  color: #57a3e8;
}
.PageNavigation .next {
  text-align: right;
}

.site-logo {
  img {
    @include media($large) {
      width: 160px;
      height: 160px;
      @include rounded(160px); /* crops in a circle */
    }
  }
}

.entry-feature-image {
	@include media($medium) {
		margin-top: -35px; /* move up to be overlapped by site logo */
	}
	@include media($large) {
		margin-top: -105px; /* move up further to be overlapped by site logo */
	}
}

.entry-title {
	@include media($medium) {
		@include font-size(46,yes,48);
	}
	@include media($large) {
		@include font-size(54,yes,58);
	}
}

li {
	pre {
		code {
			white-space: pre;
			border: none;
			background-color: initial;
		}
	}
}

$custom-link-color: #308bd8;

.entry-content {
  p > a,
	li > a {
		color: $custom-link-color;
		border-bottom: 1px dotted lighten($custom-link-color, 20);
		&:hover {
			border-bottom-style: solid;
		}
	}
}

.post-list .excerpt {
  padding: 4px 0;
}

.right {
  text-align: right;
}

/* Hide footnotes */
.footnotes {
  display: none;
}

table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 7px 10px;
}
th {
  background-color: #f0f0f0;
}

.preface {
  border-top: 1px solid #2a2e2e;
  border-bottom: 1px solid #2a2e2e;
  border-right: 1px solid #2a2e2e;
  border-left-color: #2a2e2e;
  border-radius: 0 4px 4px 0;
  padding: .5em 1em;
  font-style: normal;
}
.preface p {
  font-size: 1rem;
  margin-bottom: 0;
}

/* TOC */
#markdown-toc::before {
  content: "Contents";
  font-weight: bold;
}

#markdown-toc {
  border: 1px solid #aaa;
  padding: 1em;
  display: inline-block;
}

#markdown-toc ul {
  padding-left: 40px;
}

#markdown-toc li {
  border-bottom: none;
}

/* Image with caption */
.image-wrapper {
  text-align: center;

  img {
    margin: 0 auto;
  }

  .image-caption {
    color: #757575;
    margin-top: 6px;
    font-size: 1rem;
  }
}

table.compare td {
  vertical-align: top;
  border-bottom: none;
  border-top: none;
}
table.compare td:nth-child(odd) {
  border-left: none;
}
table.compare td:nth-child(even),
table.compare td[colspan="2"] {
  border-right: none;
}

$reviewer-color: #c00000;

.quotes {
  border-left-color: #bbb;
  margin: 0em 20px;
  padding: 0.4em 10px;
  quotes: "\201C""\201D";

  &:before {
    color: #bbb;
    content: open-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.15em;
    vertical-align: -0.4em;
  }

  p {
    display: inline;
  }
}
.quotes.reviewer {
  border-left-color: $reviewer-color;
  color: $reviewer-color;

  &:before {
    color: $reviewer-color;
  }
}
